table.simple{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}


caption.simple{
 font-weight: bold;
 border-top :1px solid black;
 border-bottom :2px solid black;
 background-color: silver;
}




td.simple{
 text-align:center;
 background-color: lightgray;
}