<!DOCTYPE HTML>
<html>
<head>
<title>What's your name?</title>

<link type="text/css" rel="stylesheet" href="../../Styles/webLayout.css"></link>
<link type="text/css" rel="stylesheet" href="../../Styles/MainStyle.css"></link>
<link type="text/css" rel="stylesheet" href="../../Styles/bootstrap.css"></link>
<link type="text/css" rel="stylesheet" href="../../Styles/loginTableStyles.css"></link>
 <script type="text/javascript" src="../../Scripts/TimeScript.js"></script>
</head>                                                                 
<body>


<header>
	<span class="timeSpan" id="timeKeeper"></span>
	<script type="text/javascript">window.onload = setTimeS("timeKeeper");</script><h1>Rabatseta.co.za</h1>

</header>
<div class="bodySection">

<hr/>
<form method = "post" action = "Login.php">
<div class="tableDiv">
<table style="overflow: hide;">
	<caption class="simple">Login Details</caption>
	<tr>
		<td class="simple">User Name : </td>
		<td class="simple"><input type = "text" name = "userName" required value = "" placeholder="Type User Name"></td>
	</tr>
	<tr>
		<td class="simple">Password :</td>
		<td class="simple"><input type = "password" name = "password" required value = "" placeholder="Type In Password"></input></td>
	</tr>
	<tr >
		<td colspan="2">
			<input type = "submit" value="Sign In"></input>
		</td>
		
	</tr>
	</table>
	</div >
		<div  class="tableDiv"> Gender : 
			<input type = "radio"
				name = "gender"
				value = "Male" checked="true">Male </input>
		  <input type = "radio"
		  		name = "gender"
				value = "Female">Female </input>
		</div>
			<hr>
			
		</form>
		</div>
		<footer>
			Copyright &copy; 2016 
		</footer>	
	</body>
</html>